li:not(:last-child){
    margin-bottom: 16px;
}

.recipe-1 {
    padding: 8px 8px;
    text-align: center;
    font: sans-serif;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.recipe-2 {
    padding: 8px 8px;
    text-align: center;
    font: sans-serif;
    background-color: brown;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.recipe-3 {
    padding: 8px 8px;
    text-align: center;
    font: sans-serif;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 22px;
}